<div class="w3-container" style="max-width: 400px; margin: auto;">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSignUp()">
      <p>
        <label>Email</label>
        <input
          class="w3-input"
          type="email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </p>
      <p>
        <label>Password</label>
        <input
          class="w3-input"
          type="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </p>
      <p>
        <label>Role</label>
        <select
          class="w3-select"
          [(ngModel)]="role"
          name="role"
          required
        >
          <option value="admin">Admin</option>
          <option value="professor">Professor</option>
          <option value="student" selected>Student</option>
        </select>
      </p>
      <p>
        <button
          class="w3-button w3-black"
          type="submit"
        >
          Sign Up
        </button>
      </p>
    </form>
  </div>
  