<!-- src/app/professor-dashboard/professor-dashboard.component.html -->
<div class="dashboard-container">
    <h1>Professor Dashboard</h1>
    <p>Welcome to your professor dashboard!</p>
    <hr />
    <h2>Create Course</h2>
    <form (ngSubmit)="createCourse()">
      <p>
        <label>Course Name</label>
        <input
          type="text"
          class="w3-input"
          [(ngModel)]="courseName"
          name="courseName"
          required
        />
      </p>
      <p>
        <label>Course Description</label>
        <textarea
          class="w3-input"
          [(ngModel)]="courseDescription"
          name="courseDescription"
          required
        ></textarea>
      </p>
      <h3>Assign Students</h3>
      <div *ngIf="availableStudents$ | async as students">
        <div *ngFor="let student of students">
          <label>
            <input 
              type="checkbox" 
              [value]="student.uid" 
              (change)="onStudentCheckboxChange($event)" />
            {{ student.email }} ({{ student.role }})
          </label>
        </div>
      </div>
      <p>
        <button class="w3-button w3-black" type="submit">
          Create Course
        </button>
      </p>
    </form>
    <p *ngIf="message">{{ message }}</p>
  </div>
  