<div class="bgimg w3-display-container">
  <!-- Centered Title and Buttons -->
  <div class="w3-display-middle w3-center">
    <h1 class="w3-text-white" style="font-size: 80px; margin: 0;">
      School Manager Application
    </h1>
    <p>
      <button
        class="w3-button w3-black w3-xxlarge"
        style="margin-top: 20px; margin-right: 20px;"
        (click)="onLogin()"
      >
        Login
      </button>
      <button
        class="w3-button w3-blue w3-xxlarge"
        style="margin-top: 20px;"
        (click)="onSignUp()"
      >
        Sign Up here
      </button>
    </p>
  </div>
</div>
